.container {
    padding: 20px;
}
.menubar__logo img {
    position: relative;
    top : -5px;
}
.title {
    position: relative;
    left: 15px;
    color : rgb(214, 228, 240);
}
.title p {
    font-size : 70px;
}
.contents1 span {
    font-size : 45px;
    font-weight: 400;
}
.contents2 span {
    font-size : 45px;
    font-weight: 400;
}
.contents3 span {
    font-size : 45px;
    font-weight: 400;
}
.contents_wrap {
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    border:1px solid black;
    height: 2300px;
    margin-top:50px;
    margin: 0 auto;
    background-color: rgb(214, 228, 240);
    border-radius: 5px;
}
.contents_wrap img {
    border-radius: 8px;
    border : 1px solid black;
}
.contents_wrap h2{
    position : absolute;
}
.contents_title {
    position : relative;
    left:35px;
    margin-top: 25px;
    font-size : 30px;
}
/* 첫번째컨텐츠 */
.contents1{
    display: flex;
    flex-direction: column;
}
.contents1_title {
    position: relative;
    margin-top: 60px;
    margin-left : 20px;
    font-size : 25px;
    left : 30px;
}
.contents1_image{
    display: flex;
    width: 100%;
    margin-top: 10px;
    padding-right: 20px;
}
.contents1_ment {
    display: flex;
    width: 100%;
    font-size : 18px;
}
.contents1_1 {
    display: flex;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    height: 300px;
}
.contents1_2 {
    display: flex;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    height: 300px;
}
/* 두번째 컨텐츠 */
.contents2{
    display: flex;
    flex-direction: column;
}
.contents2_title {
    position: relative;
    margin-top: 60px;
    margin-left : 20px;
    font-size : 25px;
    left : 30px;
}
.contents2_image{
    display: flex;
    width: 100%;
    margin-top: 10px;
    padding-right: 20px;
}
.contents2_ment {
    display: flex;
    width: 100%;
    font-size : 18px;
}
.contents2_1 {
    display: flex;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    height: 300px;
}
.contents2_2 {
    display: flex;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    height: 300px;
}
/* 세번째 컨텐츠 */
.contents3{
    display: flex;
    flex-direction: column;
}
.contents3_title {
    position: relative;
    margin-top: 60px;
    margin-left : 20px;
    font-size : 25px;
    left : 30px;
}
.contents3_image{
    display: flex;
    width: 100%;
    margin-top: 10px;
    padding-right: 20px;
}
.contents3_ment {
    display: flex;
    width: 100%;
    font-size : 18px;
}
.contents3_1 {
    display: flex;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    height: 300px;
}
.contents3_2 {
    display: flex;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    height: 300px;
}

/* 맛집 섹션 */
.food_allwrap {
    border:1px solid black;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 100px;
    background-color: rgb(214, 228, 240);
    border-radius: 5px;
}
.food_title {
    position: relative;
    left: 35px;
    margin-top: 25px;
    font-size: 30px;
}
.food_wrap {
    display : grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 340px 340px;
    height: 650px;
    justify-content: space-evenly;
    text-align: center;
    column-gap: 20px;
    padding: 40px;
}
.food {
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
}
.food img {
    width: 100%;
    height: 70%;
    border-radius: 8px;
    border : 1px solid black;
}
.food p {
    position: relative;
    width: 100%;
    top : 0px;
    right : 0px;
    font-size : 18px;
    font-weight: 100px;
}
/* 행사 섹션 */
.festival_wrap {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    border:1px solid black;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 100px;
    height: 1250px;
    max-width: 1100px;
    background-color: rgb(214, 228, 240);
}
.festival_title {
    position: relative;
    left:35px;
    margin-top: 25px;
    font-size: 30px;
}
.festivals {
    margin-top: 60px;
}
.festivals img {
    border-radius: 8px;
    border : 1px solid black;
}
.festival1 {
    display: flex;
    width: 100%;
    height: 300px;
}
.festival1_image{
    display: flex;
    width: 100%;
    margin-left: 50px;
    margin-right: 20px;
}
.festival1_ment {
    display: flex;
    width: 100%;
    margin-left: 20px;
    margin-right: 50px;
}
.festivals span {
    font-size: 24px;
}
.festival2 {
    margin-top: 40px;
    display: flex;
    width: 100%;
    height: 300px;
}
.festival2_image{
    display: flex;
    width: 100%;
    margin-left: 50px;
    margin-right: 20px;
}
.festival2_ment {
    display: flex;
    width: 100%;
    margin-left: 20px;
    margin-right: 50px;
}
.festival3 {
    margin-top: 40px;
    display: flex;
    width: 100%;
    height: 300px;
}
.festival3_image{
    display: flex;
    width: 100%;
    margin-left: 50px;
    margin-right: 20px;
}
.festival3_ment {
    display: flex;
    width: 100%;
    margin-left: 20px;
    margin-right: 50px;
}